.themeSwitcher {}

.icon {
    width: 40px;
    fill: #10e9da;
    color: #ca4b4b;
}

.iconLight {
    fill: #000000;
    width:20px;
    height: 20px;
}

.iconDark {
    fill: #ffffff;
    width:20px;
    height:20px;
}