.header {
    height: var(--navbar-height);
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-xxl-secondary);
}